.papa{
	position: absolute;
	top: 30px;
	left: 50px;
	width: 1000px;
	height: 1000px;
	background: yellow;

}

.h1{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 300px;
	height: 200px;
	background: red;
	font-size: 40px;
	color: white;


}

.h2{
	position: absolute;
	top: 370px;
	left: 50px;
	width: 300px;
	height: 200px;
	background: green;
	font-size: 40px;
	color: white;


}


.h3{
	position: absolute;
	top: 720px;
	left: 50px;
	width: 300px;
	height: 200px;
	background: blue;
	font-size: 40px;
	color: white;


}


.h4{
	position: absolute;
	top: 140px;
	left: 500px;
	width: 500px;
	height: 400px;
	background: orange;
	font-size: 40px;
	color: white;


}